<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.SetmealMapper">


    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        insert into setmeal(category_id, name, price, description, image, create_time, update_time, create_user, update_user)
        value (#{categoryId},#{name},#{price},#{description},#{image},#{createTime},#{updateTime},#{createUser},#{updateUser});
    </insert>

    <insert id="insertBatch" >
        insert into setmeal_dish(setmeal_id, dish_id, name, price, copies)
        values
        <foreach collection="setmealDish" separator="," item="dish">
            (#{dish.setmealId},#{dish.dishId},#{dish.name},#{dish.price},#{dish.copies})
        </foreach>
    </insert>
</mapper>
